@model TestCam.Models.tbl_Personal

@{
    ViewBag.Title = "VisitorEdit";
}

@section scripts
{
    @*<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.webcam.js"></script>
    <script src="~/Scripts/visitor.js"></script>
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
}
@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
         {
             Text = "Gate 01 - RECEPTION",
             Value = "Gate 01 - RECEPTION"
         });
    listItems.Add(new SelectListItem
         {
             Text = "Gate 02 - RECEPITON",
             Value = "Gate 02 - RECEPITON",
             Selected = true
         });
    listItems.Add(new SelectListItem
         {
             Text = "Gate 03 - RECEPITON ",
             Value = "Gate 03 - RECEPITON"
         });
}

@using (Html.BeginForm("VisitorIndex", "Visitor", FormMethod.Post, new { @class = "m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" }))
{


    @Html.AntiForgeryToken()
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Edit Visitor
                    </h3>
                </div>
            </div>
        </div>
        <!--begin::Form-->

        <div class="m-grid m-grid--hor m-grid--root m-page">
            <div class="m-form__section m-form__section--first">
                @*<div class="form-group m-form__group">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td><div id="webcam"></div></td>
                            <td>&nbsp;</td>
                            <td><img id="imgCapture" style="visibility: hidden; width: 200px;height: 200px" /></td>
                        </tr>
                    </table>
                    <br />
                    <input type="button" value="Capture" onclick="Capture();" />
                    <br />
                </div>*@
                <div class="form-group m-form__group">
                    @Html.Label("Visitor Pass :")
                    @Html.DisplayFor(m => m.VisitorPassNumber, new { htmlAttributes = new { @class = "form-control m-input" } })
                    @Html.HiddenFor(m => m.VisitorPassNumber)
                    @Html.ValidationMessageFor(m => m.VisitorPassNumber)
                </div>
                <div class="form-group m-form__group">
                    @Html.Label("Gate Number :")
                    @Html.DropDownListFor(m => m.GateNumber, listItems, "-- Select Gate Number --", new { htmlAttributes = new { @class = "form-control m-input" } })
                </div>
                <div class="form-group m-form__group">
                    @Html.Label("Name :")
                    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control m-input", @placeholder = "Enter Your Name " } })
                </div>
                <div class="form-group m-form__group">
                    @Html.Label("To Meet :")
                    @Html.EditorFor(m => m.ToMeet, new { htmlAttributes = new { @class = "form-control m-input", @placeholder = "Enter Concern Person Name" } })
                </div>
                <div class="form-group m-form__group">
                    @Html.Label("From :")
                    @Html.EditorFor(m => m.FromWhere, new { htmlAttributes = new { @class = "form-control m-input", @placeholder = "Enter your office location" } })
                </div>

                @*<div class="m-form__section m-form__section--first">*@
                <div class="form-group m-form__group">
                    @Html.Label("Purpose :")
                    @Html.EditorFor(m => m.Purpose, new { htmlAttributes = new { @class = "form-control m-input", @placeholder = "Enter purpose " } })
                </div>
                <div class="form-group m-form__group">
                    @Html.Label("In Time :")
                    @Html.EditorFor(m => m.Date, new { htmlAttributes = new { @class = "form-control m-input", placeholder = "visitor's Gate Pass Date", @readonly = "true" } })
                </div>
                <div class="form-group m-form__group">
                    @Html.Label("Valid UpTo :")
                    @Html.EditorFor(m => m.ValidUpTo, new { htmlAttributes = new { @class = "form-control m-input", placeholder = "visitor's Gate Pass End Date", @readonly = "true" } })
                </div>
            </div>
            @*</div>*@
        </div>
        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-8">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                        <button type="reset" class="btn btn-secondary">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--end::Form-->
    </div>

}


